<div class="modal-header">
    <div>
        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb m-0 p-0">
                <li class="breadcrumb-item"><a>dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">cars</li>
            </ol>
        </nav>
        <h5 class="modal-title" id="modal-basic-title">car details</h5>
    </div>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <h5> {{carData.name}} </h5>
            <p> shift type: <b>{{carData.shiftType}} </b></p>
            <p> air conditioning: <b>{{carData.isAirConditioning}}</b> </p>
            <p> city: <b>{{carData.city}}</b> </p>
            <p> daily rate: <b>USD {{carData.price}}</b> </p>
        </div>
        <div class="col-md-6 text-center">
            <img [src]="carData.imgSrc" width="150" height="150" />
        </div>
    </div>
</div>