<div class="modal-header">
    <div>
        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb m-0 p-0">
                <li class="breadcrumb-item"><a>dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">cars</li>
            </ol>
        </nav>
        <h5 class="modal-title" id="modal-basic-title">add car</h5>
    </div>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form [formGroup]="addCarForm" (ngSubmit)="submit()">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="carName" class="form-label required">Car Name</label>
                    <input formControlName="name" type="text" class="form-control form-control-lg shadow border-0" id="carName" placeholder="name*">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="price" class="form-label required">Daily Rate</label>
                    <input formControlName="price" type="number" class="form-control form-control-lg shadow border-0" id="price" placeholder="25.00">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="formFile" class="form-label required">car photo</label>
                    <input class="" type="file" id="formFile" hidden (input)="uploadPhoto($event)">
                    <div>
                        <label for="formFile" class='btn btn-light border-0 shadow btn-lg'>upload</label>
                        <small class='ms-1 text-muted'> {{imagePath ? imagePath[0].name  : 'filename'}} </small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="dailyRate" class="form-label required">city</label>
                    <select formControlName="city" class="form-select form-select-lg border-0 shadow rounded-3" aria-label="Default select example">
                      <option selected disabled>select city</option>
                      <option *ngFor="let c of listOfCities" [value]="c.name"> {{c.name}} </option>
                  </select>
                </div>
            </div>
            <div class="col-md-6">
                <label for="dailyRate" class="form-label required">shiftType</label>

                <div class="d-flex ">
                    <div class="form-check ms-1">
                        <input formControlName="shiftType" class="form-check-input" type="radio" value="automatic" name="shiftType" id="shiftType1">
                        <label class="form-check-label" for="shiftType1">
                          Automatic
                      </label>
                    </div>
                    <div class="form-check ms-4">
                        <input formControlName="shiftType" class="form-check-input" type="radio" value="manual" name="shiftType" id="shiftType2">
                        <label class="form-check-label" for="shiftType2">
                          Manual
                      </label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="dailyRate" class="form-label required">Air Conditioning</label>

                <div class="d-flex ">
                    <div class="form-check ms-1">
                        <input formControlName="isAirConditioning" class="form-check-input" type="radio" value="yes" name="airConditioning" id="isAirConditioning1">
                        <label class="form-check-label" for="isAirConditioning1">
                          yes
                      </label>
                    </div>
                    <div class="form-check ms-4">
                        <input formControlName="isAirConditioning" class="form-check-input" type="radio" value="no" name="airConditioning" id="isAirConditioning2">
                        <label class="form-check-label" for="isAirConditioning2">
                          no
                      </label>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary w-100 mt-5" [disabled]="addCarForm.invalid">
            add scar</button>
    </form>
</div>